section > #separator > #title-box {
    align-self: flex-start !important;
    font-size: 20px;
}
section > #separator > #paragraph-box > #contact-list {
    margin-top: 10px;
    list-style-position: inside;
}
section > #separator > #paragraph-box > #contact-list > li > a {
    font-size: 20px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}