@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Merriweather+Sans:wght@300;400;500;700&display=swap');
/*
font-family: 'Crimson Text', serif;
font-family: 'Merriweather Sans', sans-serif;
*/
:root {
    --primary-color: #fdfdfd;
    --secondary-color: #d1d1d1;
    --background-overlay: linear-gradient(45deg, rgb(0, 0, 0, var(--white-overlay-opacity)), rgb(0, 0, 0, var(--white-overlay-opacity)));
    --white-overlay-opacity: 0.6;
    --button-color: #fdfdfd;
    --button-text-color: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
body {
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000  ;
}
nav, section, footer {
    z-index: 1;
}
nav {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
}
section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
section > div#title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section > div#title-box > h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    color: var(--primary-color);
}
section > div#title-box > p {
    font-size: 22.5px;
    color: var(--secondary-color);
}
section > div#paragraph-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 236px;
    gap: 15px;
    font-size: 16px;
}
section > div#paragraph-box > p {
    text-align: left;
    color: var(--secondary-color);
}
section > div#paragraph-box > button {
    padding: 8px;
    width: 100px;
    border: none;
    border-radius: 50px;
    font-family: 'Crimson Text', serif;
    font-size: inherit;
    background-color: var(--button-color);
    color: var(--button-text-color);
}
footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > p {
    color: var(--primary-color);
    font-size: 17px;
}
footer > p > a {
    text-decoration: underline;
    color: inherit;
}