@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Merriweather+Sans:wght@300;400;500;700&display=swap');
/*
font-family: 'Crimson Text', serif;
font-family: 'Merriweather Sans', sans-serif;
*/
:root {
    --primary-color: #000000;
    --secondary-color: #2e2e2e;
    --button-color: #2e2e2e;
    --button-text-color: #fff;
    --background-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
body {
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    background-size: cover;
}
nav, section, footer {
    z-index: 1;
}
nav {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary-color);
}
section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
section > #separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section > #separator > div#title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section > #separator > div#title-box > img#main-logo {
    visibility: hidden;
    width: 0;
    height: 0;
}
section > #separator > div#title-box > img#mobile-logo {
    width: 260px;
    margin-bottom: -15px;
}
section > #separator > div#paragraph-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 236px;
    gap: 15px;
    font-size: 16px;
}
section > #separator > div#paragraph-box > p {
    text-align: left;
    color: var(--secondary-color);
}
section > #separator > div#paragraph-box > button {
    padding: 8px;
    width: 100px;
    border: none;
    border-radius: 50px;
    font-family: 'Crimson Text', serif;
    font-size: inherit;
    background-color: var(--button-color);
    color: var(--button-text-color);
    align-self: flex-end;
}
.background-images {
    display: flex;
    align-items: center;
    visibility: hidden;
    height: 0;
    width: 0;
}

footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > p {
    color: var(--primary-color);
    font-size: 17px;
}
footer > p > a {
    text-decoration: underline;
    color: inherit;
}
@media (min-width: 760px) {
    section > #separator > div#title-box > img#main-logo {
        visibility: visible;
        width: 260px;
        height: auto;
        margin-bottom: 15px;
    }
    section > #separator > div#title-box > img#mobile-logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    section > #separator > div#paragraph-box {
        width: 260px;
    }
    section > #separator > div#paragraph-box > p {
        font-size: 17.5px;
    }
    section {
        flex-direction: row;
    }
    #background-images-box {
        width: 250px;
        height: auto;
    }
    .visible-background-image {
        visibility: visible;
        width: 325px;
        height: auto;
    }
    nav {
        justify-content: center;
        gap: 100px;
    }
    section > #separator > div#paragraph-box > button {
        align-self: flex-start;
    }
}